
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}
main {
    margin: 0.1em 0.5em;
}
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.col {
    flex-direction: column;
}
.jc-sb {
    justify-content: space-between;
}

/**** START Navigation ****/

#top-nav {
    height: 5rem; /* 80px / 16px */
    border: 1px solid black;
}

#first {
    display: none;
}

#second {
    height: 3.125rem; /* 50px; */
    background-color: #fefefe;
    color: #555;
    justify-content: space-between;
    border: 1px solid black;
    width:100vw;
}

#right {
    align-items: center;
}

#third {
    height: 37.5%;
    width: 100%;
    background-color: #ffdd33;
}

#brand-logo {
    display: none;
    width: 6.6875rem;
    background-color: lightblue;
}

#brand-logo-sticky, #brand-logo {
    width: 6.6875rem; /*107px/16px */
    background-color: pink;
}

#brand-logo-sticky {
    height: 50px;
}
/**** END Navigation ****/

/**** Cover Article SEction ****/

#cover {
    height: 100vh;
    width: 100%;
    background-color: teal;
}

.cover-article {
    border: 1px solid black;
    height: 33.33%;
    min-height: 110px; 
}

/**** Latest News ****/
.news-article {
    height: 4.6875rem; /*75/16*/
    background-color: gold;
    width: 100%;
    border: 1px solid black;
}
/*** Funding Section ***/
.funding-card {
    height: 14.375rem;
    background-color: green;
    border: 1px solid black;
}

/*** topic Section ***/

.topic-card {
    min-height: 41.25rem; /* 660px / 16 px */
    max-height: 52.5rem; /* 840px / 16px */
    background-color: red;
    width: 100%;
    border: 1px solid black;
}

/**** DEALS Section ****/

.deal {
    height: 5rem;
    width: 100%;
    background-color: lightblue;
    border: 1px solid black;
}

/**** FOOTER Section ****/
footer {
    height: 17.5rem; /*280px / 16px*/
}

.footer-row {
    min-width: 100%;
    justify-content: center;
    align-items: center;
}

.top {
    background-color: grey;
    min-height: 60%; /* 60% of of 280px */
    min-width: 100%;
}

.bottom {
    background-color: black;
    min-height: 40%; /* */
    min-width:100%;
}

.footer-wrapper {
    background-color: pink;
    min-height:80px; /* 50% of top footer row - must edit this */
    min-width: 100%;
    border: 1px solid black;
    
}


@media only screen and (min-width: 768px) {
    /* Navigation */
    #top-nav {
        height: 6.875rem; /* 110/16 */
    }

    #first-second-wrapper {
        width: 100%;
    }
    
    #brand-logo {
        display: flex;
        height: 80px;
    }


    #brand-logo-sticky {
        display: none;
        /* height: 72.7272728%; */
    }
    
    #first {
        display: flex;
        height: 30px; /* 27.2727273%; */
        background-color: black;
    }

    #second {
        width: 100%;
    }
    
    #second #left .nav-item {
        display: flex;
        width: 80px;
        /* height: 100%; */
        border: 1px dashed red;
    }

    #third {
        height: 30px; /* 27.2727273% */
    }
    /* End Navigation */

    /* cover*/
    #cover {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #main-cover-article {
        width: 60%;
        height: 100%;
    }
    #cover-top-right,
    #cover-bot-right {
        height: 50%;
        width: 40%;
    }
    /* end cover */

    /* News Articles*/
    #news-articles {
        flex-direction: row;
    }

    .news-article {
        width: 33.33%;
        height: 11.25rem;
    }
    /* End News Articles */

    /* Funding Section */
    #funding-wrapper {
        display: flex;
        flex-direction: row;
    }
    .funding-card {
        width: 33.33%;
        height: 15.625rem; /* 250px / 16*/ 
    }

    .funding-card:nth-last-child(1) {
        display: none;
    }

    #funding-nav {
        display: flex;
    }
    /* End Funding Section */

    .topics {
        display: flex;
    }

    .topic-card {
        width: 50%;
    }
}






